<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
    var socket = io.connect(window.location.host);
    let arrayMyRooms = JSON.parse(("{{ chat }}").split("&quot;").join("\""))
    console.log()
    // on connection to server, ask for user's name with an anonymous callback
    socket.on('connect', function () {
        // call the server-side function 'adduser' and send one parameter (value of prompt)
        socket.emit('adduser', "{{ response._id }}");
    });

    // listener, whenever the server emits 'updatechat', this updates the chat body
    socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
    });

    // listener, whenever the server emits 'updaterooms', this updates the room the client is in
    socket.on('updaterooms', function (rooms, current_room) {
        if (current_room === "General") {
            switchRoom(arrayMyRooms[0].chatId)
            return
        }
        $('#rooms').empty();
        $.each(rooms, function (key, value) {
            arrayMyRooms.map((room) => {
                if (room.chatId == value) {

                    if (value == current_room) {
                        $('#rooms').append('<div>' + room.name + '</div>');
                    }
                    else {
                        $('#rooms').append('<div><a href="#" onclick="switchRoom(\'' + value + '\')">' + room.name + '</a></div>');
                    }
                }

            })

        });
        $('#conversation').empty()
    });

    function switchRoom(room) {
        let actualroom
        console.log(arrayMyRooms)
        console.log(room)
        arrayMyRooms.map((x) => {
            console.log(x)
            if (x.chatId == room) {
                console.log(x.chatId)
                actualroom = x.name
                socket.emit('switchRoom', [room, actualroom]);
            }
        })

    }

    // on load of page
    $(function () {
        // when the client clicks SEND
        $('#datasend').click(function () {
            var message = $('#data').val();
            $('#data').val('');
            // tell server to execute 'sendchat' and send along one parameter
            socket.emit('sendchat', message);
        });

        // when the client hits ENTER on their keyboard
        $('#data').keypress(function (e) {
            if (e.which == 13) {
                $(this).blur();
                $('#datasend').focus().click();
            }
        });
    });

</script>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
    <b>ROOMS</b>
    <div id="rooms"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
    <h1>nombre: {{response.name}}</h1>
    <input id="data" style="width:200px;" />
    <input type="button" id="datasend" value="send" />

    <div id="conversation"></div>

</div>