<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
    var socket = io.connect(window.location.host);
    let idreadmessages = String(Math.floor(Math.random() * 100000000000)) //"token session xapu... para recepcion de mensajes del servidor (recuperacion de datos de xats no leidos"
    let urlImages = '/images/profileimages/' //ruta de imagen
    let arrayMyRooms = JSON.parse(("{{ chat }}").split('&quot;').join('"')) //array de xats disponibles para un usuario.
    // on connection to server, ask for user's name with an anonymous callback
    socket.on('connect', function () {
        // call the server-side function 'adduser' and send one parameter (value of prompt)
        socket.emit('adduser', "{{ response._id }}");

    });

    // listener, whenever the server emits 'updatechat', this updates the chat body
    socket.on('updatechat', function (username, data, pictureOfUser) {
        let image = '<img src="' + urlImages + pictureOfUser + '" alt="Smiley face">';
        $('#conversation').append(image + '<b>' + username + ':</b> ' + data + '<br>');
    });


    // listener, whenever the server emits 'updaterooms', this updates the room the client is in
    socket.on('updaterooms', function (rooms, current_room) {
        if (current_room === 'General') {
            switchRoom(arrayMyRooms[0].chatId);
            return;
        }

        $('#rooms').empty();
        $.each(rooms, function (key, value) {
            arrayMyRooms.map((room) => {
                if (room.chatId === value) {
                    if (value === current_room) {
                        $('#rooms').append('<div>' +
                                `<div class="avatar" style="background-image: url('/images/profileimages/${room.photo}')"></div>`
                                + room.name + '</div>');
                    } else {
                        $('#rooms').append('' +
                                '<div>' +
                                `<div class="avatar" style="background-image: url('/images/profileimages/${room.photo}')"></div>` +
                                '<a href="#" onclick="switchRoom(\'' + value + '\')">' + room.name + '</a>' +
                                '</div>');
                    }
                }

            })

        });
        $('#conversation').empty();
        socket.emit('readmessages', [current_room, idreadmessages])
    });
    socket.on(idreadmessages, function (array) {
        $('#conversation').empty();

        array.forEach((message) => {
            let image = '<img src="' + urlImages + message.userId.pictureOfUser + '" alt="Smiley face">';

            $('#conversation').append(image + '<b>' + message.usernamechat + ':</b> ' + message.message + '<br>');

        })

    });


    function switchRoom(room) {
        if (arrayMyRooms[0].chatId === room) {
            $('.name').removeClass('test2');
        } else {
            $('.name').addClass('test2');
        }

        let actualroom;
        arrayMyRooms.map((x) => {
            if (x.chatId === room) {
                actualroom = x.name;
                socket.emit('switchRoom', [room, actualroom]);
            }
        })
    }

    // on load of page
    $(function () {
        // when the client clicks SEND
        $('#datasend').click(function () {
            var msge = $('#data').val();
            $('#data').val('');
            // tell server to execute 'sendchat' and send along one parameter
            socket.emit('sendchat', [msge, "{{ response.pictureOfUser }}"]);
        });

        // when the client hits ENTER on their keyboard
        $('#data').keypress(function (e) {
            if (e.which === 13) {
                $(this).blur();
                $('#datasend').focus().click();
            }
        });
        $('#close').click(() => {
            $('.name').removeClass('test2');
        })

    });


</script>
<div class="rooms">
    <h1>Lobby</h1>
    <div class="point-users">
        <div class="available"></div>
        <h2>Users available:</h2>
    </div>
    <div id="rooms"></div>
</div>

<div class="name">
    <h1>{{response.username}}</h1>
    <i id="close" class="fas fa-times"></i>
    <input id="data"/>
    <input type="button" id="datasend" value="send"/>

    <div id="conversation"></div>

</div>