<form id="form" action="/auth/signup" method="post">
    <input type="text" name="username" required placeholder="Username"/><br>
    <input type="text" name="name" required placeholder="Name"/><br>
    <input type="text" name="lastName" required placeholder="Lastname"/><br>
    <input type="email" name="email" required placeholder="E-mail"/><br>
    <input type="password" name="password" required placeholder="********"/><br>
    <input type="password" name="repeatPassword" required placeholder="********"/><br>
    <select name="country">
        <option disabled selected>Select a country</option>
        {{#each countries}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <select name="profession">
        {{#each profession}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select><br>
    <button type="submit">Create account</button>
</form>