<form action="/login" method="POST" id="form">
    <i class="fas fa-user"></i>
    <label for="username">Username</label>
    <input type="text" name="username">

    <i class="fas fa-lock"></i>
    <label for="password">Password</label>
    <input type="password" name="password"/>
    <div class="error-message"></div>


    <button>Sign in</button>

</form>