<nav class="navbar">
    <div>
        {{#if image}}
            <a href="/private/profile"><img src="/images/profileimages/{{ user.pictureOfUser }}" alt="avatar"/></a>
        {{/if}}
        {{#if wall }}
            <a href="/private/wall">Wall</a>
        {{/if}}

    </div>
    <div class="title">
        <h1>Be Positive</h1>
    </div>
    {{#if logout }}
        <form action="/auth/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
    {{/if}}
</nav>