<img src="/images/landing.png" alt="landing-img"/>
<div class="welcome-page">
    <h1>Be Positive</h1>
    <a href="/sign-in">Sign In</a>
    <p class="account-message"> Or<a href="/signup">create an account</a>
</div>