<div class="welcome-page">
    <img src="/images/landing2.png" alt="landing-img"/>
    <a href="/auth/signin">Sign In</a>
    <p class="account-message"> Or<a href="/auth/signup">create an account</a>
</div>