<div class="delete-confirmation">
    <div class="deleted">
        <h1>ACCOUNT DELETED</h1>

        <p> Redirecting home</p>
    </div>
</div>
<script>
    window.onload = function () {
        setTimeout(() => {
            window.location.href = "../"
        }, 3000);
    }
</script>