.delete-confirmation {
  background: linear-gradient(132deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .deleted {
    margin-bottom: 10rem;
  }
}