@import "font";
@import "landing";
@import "partial";
@import "wall";
@import "edituser";
@import "navbar";
@import "rate";
@import "profile";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: HKGrotesk-Medium;
}

.error-message {
  color: darkred;
}

a {
  text-decoration: none;
  color: black;
}