@import "font";
@import "landing";
@import "partial";
@import "wall";
@import "edituser";
@import "navbar";
@import "rate";
@import "auth";
@import "profile";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: HKGrotesk-Medium;
  padding-top: 4rem;
}

.error-message {
  color: darkred;
}

a {
  text-decoration: none;
  color: black;
}

.welcome-page, .signin-section, .signup-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}